
html {
    font-size: 10px;
}

html,
body {
    height: 100%;
}

:root {
    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);
}

body {
    background-color: var(--VeryDarkBlue);
    color: var(--PaleBlue);
    font-family: 'Raleway', sans-serif;
    background-image: url('../images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100% 50%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

main {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
}

#left-top {
    background-color: var(--DarkBlue);
    width: 28rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px 80px 10px 10px;
    margin-right: 3rem;
}

#logo {
    width: 12rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}

#button-container {
    padding-left: 3rem;
    display: flex;
}

.button {
    background-color: var(--VeryDarkBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 10px;
}

.button:hover {
    background-color: var(--PaleBlue);
}

.button img {
    width: 2rem;
}

#right-bottom {

}

#status-panel {
    background-color: var(--DarkBlue);
    height: 12rem;
    width: 48rem;
    border-radius: 10px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    top: 0;
    right: center;
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 850px) {
    body {
        background-image: url('../images/bg-mobile.png');
        background-size: cover;
    }

    main {
        flex-direction: column;
    }
}


