body {
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 100%, 93%);
    font-weight: 400;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: URL('../images/bg-desktop.png') no-repeat right bottom;
    background-size: 100% 50%;
    background-color: hsl(229, 57%, 11%)
}

#component-container {
    margin: auto;
    width: 50%;
    padding: 20rem;
    display: flex;
    align-items: flex-end;   
}

.module {
    background-color:  hsl(228, 56%, 26%);
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
}

#control-module {
    width: 35%;
    height: 10rem;
    border-radius: 10px 100px 10px 10px;
}

#control-container{
    display: flex;
    padding-top: 1.5rem;
}

.icon {
    background-color: hsl(229, 57%, 11%); 
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: .5rem;
}

.icon:hover {
    background-color: hsl(243, 100%, 93%);
}

.icon img {
    width: 1.5rem;
}

#status-module {
    width: 35rem;
    height: 6rem;
}

em {
    font-weight: 700;
    padding-right: 0.2rem;
}

#right-bottum-container {
    padding-top: 5rem;
    position: relative;
    z-index: 0;
}

#bubble-container {
    position: absolute;
    z-index: 1;
    top: 2rem;
    right: 2.75rem;
}

#status-bar {
    background-color: hsl(229, 57%, 11%);
    margin-top: 10px;
    width: 100%;
    height: 15px;
    border-radius: 50px;
}

#status {
    background: linear-gradient(to right, hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    z-index: 1;
    width: 82%;
    height: 13px;
    border-radius: 50px;
    position: relative;
}

#status-pointer {
    background-color:#fff;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 1;
}

#status-lable {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.bubble {
    position: relative;
    width: 150px;
    background: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    color: #000;
}
.pointer:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right:  24px solid #fff;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 162px;
    bottom: -24px;
  }

#number-gb {
    font-weight: 700;
    font-size: 2rem;
    padding-right: .4rem;
}

.attribution { 
    text-align: center; 
    padding: 1rem;   
}

.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 850px) {
    body {
        background-image: url('../images/bg-mobile.png');
        background-position: center;
        background-size: cover;
    }
    #component-container {
        margin: auto;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;   
    }
    #control-module {
        width: 40%;
        height: 10rem;
        border-radius: 10px 100px 10px 10px;
    }
    #right-buttom-container {
        width: 40%;
        height: 6rem;
    }
    #bubble-container {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
    }

    #status-module {
        width: auto;
    }
    
}

